table {
    width: 100%;

    border-collapse: collapse;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

th, td {
    padding: 8px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

th {
    background-color: blue;
    color: white;
}

.hcenter {
    text-align: center;
}